<button class="img-action-btn trash-btn <%= is_active ? 'active' : '' %>" id="fav<%= product.id %>" hx-post="/fav-remove/<%= product.id %>" hx-swap="outerHTML" hx-target="#card<%= product.id %>">
  <%= partial :trash_svg %>
</button>
