<form action="<%= url %>" method="GET">
  <%= partial :filters_form, url: '/catalog', filters: filters, price_range: price_range, categories: categories %>

  <div class="row">
    <% if products.empty? %>
      <div class="col-12 no-results">No hay resultados para tu busqueda</div>
    <% end %>

    <!-- Card begin -->
    <% products.each do |product| %>
      <% if account.user.role == 'admin' %>
        <div class="col col-3">
          <%= partial :product_card, product: product, favs: favs %>
        </div>
      <% else %>
        <a class="col col-3 card-link" href="<%= product.url %>" target="_blank">
          <%= partial :product_card, product: product, favs: favs %>
        </a>
      <% end %>
    <% end %>
    <!-- Card end -->
  </div>

  <%= partial :pagination, pagination: pagination %>

  <input class="modal-state" id="modal-2" type="checkbox">
  <div class="modal">
    <label class="modal-bg" for="modal-2"></label>
    <div class="modal-body" id="edit-product-modal"></div>
  </div>
</form>
