<div class="calendar">
  <h4>
    <a href="/events?month=<%= prev_month %>" class="month-btn">&lt;</a>
    <%= format_calendar_header current_month %>
    <a href="/events?month=<%= next_month %>" class="month-btn">&gt;</a>
  </h4>

  <div class="cal child-borders">
    <div class="wday">Domingo</div>
    <div class="wday">Lunes</div>
    <div class="wday">Martes</div>
    <div class="wday">Miercoles</div>
    <div class="wday">Jueves</div>
    <div class="wday">Viernes</div>
    <div class="wday">Sabado</div>

    <% current_month_skips.times do %>
      <div class="skip"></div>
    <% end %>

    <% current_month_days.times do |idx| %>
      <% date = "#{current_month}-#{(idx + 1).to_s.rjust(2, '0')}" %>
      <% if today == date %>
        <% if events_by_date.include? date %>
          <button class="today border border-success text-success background-success">
            Hoy
            <span class="badge circular success"><%= events_by_date[date] %></span>
          </button>
        <% else %>
          <div class="today border background-success border-success text-success">Hoy</div>
        <% end %>
      <% else %>
        <% if events_by_date.include? date %>
          <button class="today btn-secondary event border border-secondary text-secondary">
            <%= idx + 1 %>
            <span class="badge circular secondary"><%= events_by_date[date] %></span>
          </button>
        <% else %>
          <div><%= idx + 1 %></div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <%= partial :event_list, events: events, account: account %>

  <div class="row flex-spaces child-borders">
    <label class="paper-btn btn-secondary-outline btn-block" for="modal-2">+ Evento</label>
  </div>
  <input class="modal-state" id="modal-2" type="checkbox">
  <div class="modal">
    <label class="modal-bg" for="modal-2"></label>
    <div class="border modal-body">
      <label class="btn-close" for="modal-2">X</label>
      <h4 class="modal-title">Registrar nuevo evento</h4>
      <%= partial :event_form, event: event %>
    </div>
  </div>
</div>
