<div class="row flex-spaces tabs">
  <input id="tab1" type="radio" name="tabs">
  <label for="tab1">Mi cuenta</label>

  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Emergencias</label>

  <input id="tab3" type="radio" name="tabs">
  <label for="tab3">Equipo</label>

  <input id="tab4" type="radio" name="tabs" checked>
  <label for="tab4">Armamento</label>

  <div class="content" id="content1">
    <%= partial :account_form, account: account %>
    <hr />
    <%= partial :password_form %>
    <hr />
    <a href="/logout" class="paper-btn btn-danger-outline btn-block logout-btn">Cerrar session</a>
  </div>

  <div class="content" id="content2">
    <%= partial :emergency_form, account: account %>
  </div>

  <div class="content" id="content3">
    <%= partial :teams_form, my_teams: my_teams, teams: teams, account: account %>
  </div>

  <div class="content" id="content4">
    <div class="text-muted" style="margin-bottom: 20px; text-align: center;">Comparte con la comunidad tu equipamiento favorito</div>

    <div class="my-gear">
      <%= partial :soldier_svg %>
      <div>
        Cara
        <ul>
          <li><a href="#">Fornitura Tactica Fajo Tactico Militar Cinturon Accesorios Policia Seguridad</a></li>
        </ul>
        <button style="width: 100%; padding: 5px;">+</button>
      </div>
    </div>
  </div>
</div>
