<div class="row flex-spaces tabs">
  <input id="tab1" type="radio" name="tabs" <%= 'checked' if current_tab == 'account' %>>
  <label for="tab1">Mi cuenta</label>

  <input id="tab2" type="radio" name="tabs" <%= 'checked' if current_tab == 'emergency' %>>
  <label for="tab2">Emergencias</label>

  <input id="tab3" type="radio" name="tabs" <%= 'checked' if current_tab == 'teams' %>>
  <label for="tab3">Equipo</label>

  <input id="tab4" type="radio" name="tabs" <%= 'checked' if current_tab == 'equipment' %>>
  <label for="tab4">Armamento</label>

  <div class="content" id="content1">
    <%= partial :account_form, account: account %>
    <hr />
    <%= partial :password_form %>
    <hr />
    <a href="/logout" class="paper-btn btn-danger-outline btn-block logout-btn">Cerrar session</a>
  </div>

  <div class="content" id="content2">
    <%= partial :emergency_form, account: account %>
  </div>

  <div class="content" id="content3">
    <%= partial :teams_form, my_teams: my_teams, teams: teams, account: account %>
  </div>

  <div class="content" id="content4">
    <div class="text-muted" style="margin-bottom: 20px; text-align: center;">Comparte con la comunidad tu equipamiento favorito</div>

    <%= partial :equipment %>
  </div>
</div>
