<button class="img-action-btn fav-btn <%= 'removed' if defined?(was_removed) && was_removed %> <%= 'active' if is_active %>" id="fav<%= product.id %>" hx-post="/fav-toggle/<%= product.id %>" hx-swap="outerHTML">
  <%= partial :heart_svg %>
</button>
