<% if pagination.display? %>
  <div class="row pagination">
    <% if pagination.prev? %>
      <div class="col">
        <input type="radio" id="prev" name="page" value="<%= pagination.page - 1 %>" class="hidden" onchange="this.form.submit()">
        <label for="prev" class="cat-btn">&larr;</label>
      </div>
    <% end%>

    <% pagination.pages.each do |num, is_active, ellipsis| %>
      <div class="col">
        <% if ellipsis %>
          <div class="ellipsis">...</div>
        <% else %>
          <input type="radio" id="p<%= num %>" name="page" value="<%= num %>" class="hidden" onchange="this.form.submit()">
          <label for="p<%= num %>" class="cat-btn <%= is_active ? 'active' : '' %>"><%= num %></label>
        <% end %>
      </div>
    <% end %>

    <% if pagination.next? %>
      <div class="col">
        <input type="radio" id="next" name="page" value="<%= pagination.page + 1 %>" class="hidden" onchange="this.form.submit()">
        <label for="next" class="cat-btn">&rarr;</label>
      </div>
    <% end %>
  </div>
<% end %>
