<form action="/catalog" method="GET">
  <div class="row">
    <div class="col-12 search-bar">
      <input type="search" name="search" value="<%= filters.search_input %>" placeholder="Buscar por modelo, fabricante, licencia, descipcion..." />
      <button>Buscar</button>
    </div>

    <div class="col-12 category-filters">
      <% categories.each do |key, label| %>
        <input type="checkbox" id="<%= key %>" name="categories[]" value="<%= key %>" class="hidden" <%= filters.category?(key) ? 'checked' : '' %> onchange="this.form.submit()">
        <label for="<%= key %>" class="cat-btn"><%= label %></label>
      <% end %>
    </div>

    <div class="col-12 price-filter">
      <label for="price">Rango de precios</label>
      <div>
        <label for="min-price">desde</label>
        <input type="number" name="min-price" value="<%= filters.min_price_input %>" placeholder="<%= price_range[:min_placeholder] %>">
      </div>

      <div>
        <label for="max-price">hasta</label>
        <input type="number" name="max-price" value="<%= filters.max_price_input %>" placeholder="<%= price_range[:max_placeholder] %>">
      </div>
    </div>
  </div>

  <div class="row">
    <% if products.empty? %>
      <div class="col-12 no-results">No hay resultados para tus criterios</div>
    <% end %>

    <!-- Card begin -->
    <% products.each do |product| %>
      <div class="col col-3 border card">
        <div class="img-wrapper">
          <img class="product-img" src="<%= product.list_img %>" />
          <%= partial :fav_button, product: product, is_active: favs.key?(product.id) %>
        </div>

        <div class="card-body">
          <a class="card-link" href="<%= product.url %>" target="_blank">
            <div class="card-title"><%= product.title %></div>
          </a>

          <% if product.specs? %>
            <div class="card-text specs text-secondary">
              <% product.specs.each do |prop, value| %>
                <div class="spec-value" title="<%= prop %>">
                  <%= value %>
                </div>
              <% end %>
            </div>
          <% end %>

          <% if product.tags? %>
            <div>
              <% product.tags do |tag| %>
                <div>tag</div>
              <% end %>
            </div>
          <% end%>

          <div class="text-danger">
            <%= product.price %>
          </div>
        </div>
      </div>
    <% end %>
    <!-- Card end -->
  </div>

  <% if pagination.display? %>
    <div class="row pagination">
      <% if pagination.prev? %>
        <div class="col">
          <input type="radio" id="prev" name="page" value="<%= pagination.page - 1 %>" class="hidden" onchange="this.form.submit()">
          <label for="prev" class="cat-btn">&larr;</label>
        </div>
      <% end%>

      <% pagination.pages.each do |num, is_active, ellipsis| %>
        <div class="col">
          <% if ellipsis %>
            <div class="ellipsis">...</div>
          <% else %>
            <input type="radio" id="p<%= num %>" name="page" value="<%= num %>" class="hidden" onchange="this.form.submit()">
            <label for="p<%= num %>" class="cat-btn <%= is_active ? 'active' : '' %>"><%= num %></label>
          <% end %>
        </div>
      <% end %>

      <% if pagination.next? %>
        <div class="col">
          <input type="radio" id="next" name="page" value="<%= pagination.page + 1 %>" class="hidden" onchange="this.form.submit()">
          <label for="next" class="cat-btn">&rarr;</label>
        </div>
      <% end %>
    </div>
  <% end %>
</form>
