<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>LoW :: <%= section_title %></title>
    <%= partial :head_imports %>
  </head>
  <body>
    <header class="underline container header">
      <div class="col col-4">
        <a href="/">
          <h3>
            <img src="/img/logo200x200.png">
            Lord of War
          </h3>
        </a>
      </div>

      <div class="col col-4">
        <div class="navbar">
          <a title="Catalogo" href="/catalog"><%= partial :shop_svg %></a>
          <a title="Favoritos" href="/favs"><%= partial :heart_svg %></a>
          <a title="Eventos" href="/events"><%= partial :calendar_svg %></a>
          <a title="Bazar de Guerra" href="/marketplace"><%= partial :marketplace_svg %></a>
        </div>
      </div>

      <div class="col col-4 align-right">
        <a href="/profile"><%= account.user.username %></a>
      </div>
    </header>

    <main class="border paper container main">
      <h3 class="section-title"><%= section_title %></h3>

      <%= yield %>
    </main>

    <%= partial :footer %>
  </body>
</html>
