<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Lord of War</title>
  <link rel="stylesheet" href="https://unpkg.com/papercss@1.9.2/dist/paper.min.css" />
  <link href="/css/lord_of_war.css" rel="stylesheet" />
</head>
<body>
  <header class="container">
    <h3 class="underline">Lord of War</h3>
  </header>

  <main class="border paper container">
    <div>
      <div class="row">
        <div class="col-12 search-bar">
          <input type="search" placeholder="Buscar por modelo, fabricante, calibre interno, SKU..." />
          <button>Buscar</button>
        </div>

        <div class="col-12 category-filters">
          <% categories.each do |category| %>
            <% if filters.category? category %>
              <button class="background-success">
                <%= category %>
              </button>
            <% else %>
              <button>
                <%= category %>
              </button>
            <% end %>
          <% end %>
        </div>
      </div>

      <div>
        <div class="row">
          <!-- Card begin -->
          <% products.each do |product| %>
            <div class="col col-3 card">
              <img src="<%= product.list_img %>" />
              <div class="card-body">
                <div class="card-title"><%= product.title %></div>

                <% if product.specs? %>
                  <div class="card-text specs">
                    <% product.specs.each do |prop, value| %>
                      <div class="spec-item">
                        <span class="spec-name text-secondary"><%= prop %></span>: <span class="spec-value text-secondary"><%= value %></span>
                      </div>
                    <% end %>
                  </div>
                <% end %>

                <% if product.tags? %>
                  <div>
                    <% product.tags do |tag| %>
                      <div>tag</div>
                    <% end %>
                  </div>
                <% end%>
              </div>
            </div>
          <% end %>
          <!-- Card end -->
        </div>

        <div class="row pagination">
          <% if pagination.prev? %>
            <div class="col">
              <button>&larr; Prev</button>
            </div>
          <% end%>

          <% pagination.pages.each do |num, is_active| %>
            <% if is_active %>
              <div class="col">
                <button><%= num %></button>
              </div>
            <% else %>
              <div class="col">
                <button><%= num %></button>
              </div>
            <% end %>
          <% end %>

          <% if pagination.next? %>
            <div class="col">
              <button>Next &rarr;</button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </main>
</body>
</html>
